.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.d-flex.flex-nowrap {
  flex-wrap: nowrap; /* Evita que las cartas se envuelvan */
  overflow-x: auto; /* Habilita el desplazamiento horizontal */
  padding: 10px; /* Espaciado interno */
}

.card-fixed {
  width: 200px; /* Ancho fijo para las cartas */
  height: 300px; /* Alto fijo para las cartas */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden; /* Oculta contenido que exceda el tamaño */
  text-align: center; /* Centra el texto */
}

.qr-reader-container {
  width: 300px;
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

